
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/bootstrap/css/landing-page.css" rel="stylesheet" />

    <div class="intro-header">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>PsBlogs</h1>
                    <h3>Create your own blog, TODAY!</h3>
                    <hr class="intro-divider">
                    <h4>
                        <p><a class="btn btn-lg btn-success" href="/User/Register" role="button">Start with registering new user</a></p>

                    </h4>
                </div>
            </div>
        </div>
    </div>        <!-- /.container -->


@section scripts{
    <script>
    $(function(){
        $("#nav-home").addClass('active');
    });
    </script>
}