
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Log out", "LogOut")</p>
@if(User.IsInRole("admin"))
{
    @Html.ActionLink("Manage users","List")
}
<p>
    @Html.ActionLink("Create New Blog", "Create","Blog")
</p>
@section scripts{
    <script>
        $(function () {
            $("#nav-log-in").addClass('active');
        });
    </script>
}